.calculator {
  background-color: white;
  border-radius: 15px;
  width: 80%;
  height: 80%;
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.171);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.history-tool {
  position: absolute;
  top: 18%;
  border-radius: 15px;
}

@media (max-width: 650px) {
  .history-tool {
    position: absolute;
    width: 65%;
    top: 18%;
    border-radius: 15px;
  }
  .calculator {
    font-size: 1em;
    width: 70%;
    height: 80%;
  }
}

@media (min-width: 650px) and (max-width: 800px) {
  .history-tool {
    position: absolute;
    width: 50%;
    top: 11%;
    border-radius: 15px;
  }
  .calculator {
    font-size: 0.8em;
    width: 50%;
    height: 90%;
  }
}

@media (min-width: 700px) and (min-height: 720px) {
  .calculator {
    font-size: 0.8em;
    width: 30%;
    height: 80%;
  }
}

@media (min-width: 801px) {
  .history-tool {
    position: absolute;
    width: 25%;
    top: 17%;
    border-radius: 15px;
  }
  .calculator {
    font-size: 0.8em;
    width: 30%;
    height: 80%;
  }
}

@media (min-width: 540px) and (min-height: 720px) {
  .history-tool {
    position: absolute;
    width: 45%;
    top: 13%;
    border-radius: 15px;
  }
  .calculator {
    width: 50%;
    height: 90%;
    font-size: 1em;
  }
}

@media (min-width: 1281px) {
  .calculator {
    width: 20%;
    height: 80%;
    font-size: 1em;
  }
}

@media (min-width: 1024px) {
  .history-tool {
    position: absolute;
    width: 25%;
    top: 10%;
    border-radius: 15px;
  }
  .calculator {
    width: 30%;
    height: 90%;
    font-size: 0.8em;
  }
}

@media (min-width: 1023px) and (min-height: 1355px) {
  .calculator {
    width: 40%;
    height: 70%;
    font-size: 1.3em;
  }
}

@media (min-width: 1500px) {
  .calculator {
    width: 30%;
    font-size: 1.2em;
  }
}
