.containerDisplay {
  height: 100%;
  padding: 0% 8%;
  display: flex;

  flex-direction: column;
  justify-content: flex-end;
  background-color: #f4f4f4;
  border-radius: 15px;
}

p {
  font-weight: bold;
  text-align: right;
  margin-bottom: 5%;
  width: 100%;
}

.numbers {
  font-size: 0.9em;
  color: black;
  overflow: auto;
}

.result {
  overflow: auto;
  font-size: 1.5em;
  color: black;
}
